body {
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    


}

.container{
    margin:0;
    position: absolute;
    height: 100px;
    background-color: aquamarine;
    width: 100px;
    justify-content: center;
    align-content: center;
}